.btn
{
    color: white;
    background-color: var(--primary-color);
    border-radius: 8px;
    font-weight: 600;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.2) 1.95px 1.95px 2.6px;

}
.btn:hover
{
    background-color: hsl(60, 100%, 66%);
    transform:scale(95%) ;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
.btn:active{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform:scale(95%) translateY(20px) ;
    border: none;
    outline: none;

}

.btn:focus{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;

}