li{
    margin: 15px;
}
.del{
    margin-left: 0;
}
.justli,.discount{
    color: coral;

}
.BTN{
    padding: 5px 170px;
    margin-bottom: 90px;
}
.main{
    font-size: 23px;
    margin-left: 25%;
}